<div class="mt-4">
    <h3 class="mb-4">Sửa khóa học</h3>
    <form method="POST" action="/courses/{{course._id}}?_method=PUT">
        <div class="mb-3">
            <label for="name" class="form-label">Tên</label>
            <input type="text" class="form-control" id="name" name="name" value="{{course.name}}"  aria-describedby="nameHelp">
            <div id="nameHelp" class="form-text">Tên khóa học</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Mô tả</label>
            <textarea class="form-control" id="description" name="description" aria-describedby="desHelp">{{course.description}}</textarea>
            <div id="desHelp" class="form-text">Mô tả khóa học</div>
        </div>
        <div class="mb-3">
            <label for="videoId" class="form-label">Video ID</label>
            <input type="text" class="form-control" id="videoId" name="videoId" value="{{course.videoId}}" aria-describedby="videoIdHelp">
            <div id="videoIdHelp" class="form-text">ID cùa video giới thiệu</div>
        </div>
        <button type="submit" class="btn btn-primary">Lưu lại</button>
    </form>
</div>