<div class="mt-4">
  <h1>Home page</h1>
  <div class="row g-2">
    <div class="col-md-3 d-none d-md-block">
      <div class="card mb-3">
        <h4 class="card-header">
          Featured
        </h4>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>
      </div>
      <div class="card">
        <h4 class="card-header">
          Featured
        </h4>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>
      </div>
    </div>
    <div class="col-md-9 col-12">
      <div class="container">
        <div class="row g-2">
          {{#each courses}}
          <div class="col-12 col-sm-6 col-md-6 col-lg-4">
            <div class="card">
              <a href="/courses/{{this.slug}}">
                <img src="{{this.image}}" class="card-img-top" alt="...">
              </a>
              <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <p class="card-text">{{this.description}}</p>
                <div class="d-grid">
                  <a href="#" class="btn btn-primary">Đăng ký</a>
                </div>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>